.path-mod-tresipuntvideo .tresipuntvideocontent {
    text-align: center;
}

.path-mod-tresipuntvideo .tresipuntvideodetails {
    font-size: 0.8em;
    color: #555;
}

.tresipuntvideolinkdetails {
    font-size: 0.8em;
    color: #555;
}
